.venv
data
__pycache__/**
.env
*.pyc
*.pyo
.DS_Store
.idea
.vscode
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.zip
*.tar.gz
*.egg-info
dist
build
*.egg
coverage
htmlcov
*.cover
*.coveragerc
*.pyd
*.so
*.dll
*.dylib
*.exe
*.app
*.msi

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
venv/
env/
# Ignore Python bytecode files
__pycache__/
*.pyc
# Ignore log files
*.log
# Ignore database files
*.sqlite3
*.db
# Ignore backup files
*.bak
# Ignore temporary files
*.swp
*.tmp
# Ignore distribution files
dist/
build/
